/*
 HTML5 BOILERPLATE
 * SQUALTSHIRTS BY GERMÁN PLA
 */

 /* ==========================================================================
   Imports
   ========================================================================== */
@import './normalize.css';
@import './variables.css';
@import './font-awesome.min.css';
@import './cubeportfolio.min.css';


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em; 
    line-height: 1.4; 
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ========== MIXINS ===========*/
  
/* MIXIN PARA BOTONES */
@define-mixin btn $bg, $color, $font, $size{
    background-color: $bg;
    color: $color;
    font-family: $font;
    font-size: $size;
    padding: 10px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    transition: .2s all ease;
    box-shadow: 3px 3px 1px #2e2e2e;

    &:hover{
        background-color: $color;
        border: 1px solid $bg;
        color: $bg;
        box-shadow: -1px -1px 3px $bg;
    }
}
/* MIXIN PARA EL HOME GRID */
@define-mixin grid-home $fondo, $color, $alto{
    background-color: $fondo;
    color: $color;
    //padding: 1rem;
    height: $alto;
}
/*MIXIN PARA LOS TÍTULOS DE LA GRID DE LA HOME*/
@define-mixin grid-title $fondo, $color{
    width: 100%;
    background: $fondo;
    color: $color;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    font-size: 2rem;
    transition: .5s all ease;
    cursor: pointer;
}
/* MIXIN PARA LOS CIRCULOS DEL DETALLE CAMISETA */
@define-mixin colorRound $color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $color;
    display: inline-block;
    margin-right: 1rem;
    border: 1px solid var(--black);
}

html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: var(--oswald);
    color: var(--mineshaft);
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* ====== GLOBALES ====== */
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
     -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
input:focus{
    outline: none !important;
}
input:read-only{
    background-color: var(--mercury);
}

a{
    text-decoration: none;
    color: var(--mineshaft);
}
.parallax::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    filter: brightness(.8);
}


.wrapper{
    padding: 2.5rem 0;

}
.container{
    width: 98%;
    margin: 0 auto;

    @media(--mobile) {
       &{
        width: 95%;
        margin: 0 auto;
       }
    }
    @media(--tablet) {
       &{
        width: 90%;
        margin: 0 auto;
       }
    }
    @media(--desktop) {
       &{
        width: 90%;
        margin: 0 auto;
        max-width: 1100px;
       }
    }
}

.show{
    display: block !important;
}
.hide{
    display: none !important;
}


/* ====== ADMIN FORM HOME PAGE && LOGIN====== */
.login-modal{
    position: absolute;
    top: -9999px;
    width: 100%;
    transition: .5s all ease;
    z-index: 99;
    //background-color: var(--opaModal);

    .admin-page{
        
        .admin-form-wrapper{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            height: 100vh;

            .form-fade{
                -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
                box-shadow: 0 5px 15px rgba(0,0,0,.5);
                background-color: var(--white);
                padding: 2rem;
                margin-top: 2rem;
                position: relative;
            }

            .header-login-wrapper{
                width: 390px;

                h2{
                    color: var(--white);
                    outline: 4px solid var(--white);
                    outline-offset: -8px;
                    background-color: var(--vermilion);
                    padding: .5rem .5rem .8rem 1.5rem;
                    margin: 1rem auto;
                    width: 110px;
                }
                i{
                    position: absolute;
                    top: 1rem;
                    right: 2rem;
                    font-size: 2rem;
                    color: var(--vermilion);
                    transition: .5s all ease;
                    cursor: pointer;

                    &:hover{
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .form-container{

            &:not(:first-child){
                margin-top: 1rem;
            }

            &:first-child{
                display: flex;
                
                .form-input{
                    &:first-child{
                        padding-right: .5rem;
                    }
                    &:last-child{
                        padding-left: .5rem;
                    }
                }
            }
        
            .form-input{

                input{
                    background-color: var(--transparent);
                    border: 1px solid var(--mercury);
                    color: var(--mountainMeadow);
                    padding: 1rem 1.5rem;
                    width: 100%;
                    outline: none;
                    transition: .5s all ease;

                    &:focus{
                        border: 1px solid var(--mountainMeadow);

                        &::-webkit-input-placeholder{
                            transition: .5s all ease;
                            color: var(--mountainMeadow);
                        }
                         &::-moz-placeholder{
                            transition: .5s all ease;
                            color: var(--mountainMeadow);
                        }
                        &:-ms-input-placeholder{
                            transition: .5s all ease;
                            color: var(--mountainMeadow);
                        }
                        &:-moz-placeholder{
                            transition: .5s all ease;
                            color: var(--mountainMeadow);
                        }
                    }  
                }

                input[type="submit"]{
                    background-color: var(--vermilion);
                    border-color: var(--vermilion);
                    color: var(--white);
                    font-size: 1.5rem;
                    max-height: 52px;
                    line-height: 20px;
                    text-transform: uppercase;
                    outline: 1px solid var(--white);
                    outline-offset: -8px;
                    transition: .2s all ease;

                    &:hover{
                        background-color: var(--transparent);
                        color: var(--mountainMeadow);
                        border-color: var(--mountainMeadow);
                        outline: 1px solid var(--mountainMeadow);
                        outline-offset: -2px;
                    }
                    &:active{
                        color: var(--mountainMeadow);
                        border-color: var(--mountainMeadow);
                        outline: 1px solid var(--mountainMeadow);
                    }
                }
            }
        }
    }
}


/* ====== ADMIN AREA ====== */
.admin-flex-container{
    display: flex;
    min-height: 100vh;
}
.admin-aside{
    background-color: var(--mineshaft);
    width: 150px;

    .admin-list{

        .admin-options{
            cursor: pointer;
            border-bottom: 1px solid var(--gray);
            min-height: 120px;

            .admin-options-content{  
                color: var(--white);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height: 120px;
                transition: .2s ease all;

                &:hover{
                    background-color: var(--vermilion);
                    color: var(--black);
                }

                i{
                    font-size: 2rem;
                    display: inline-block;
                    padding-bottom: 1rem;

                    &.fa-opencart{
                        color: var(--vermilion);
                        padding-bottom: 0;
                        font-size: 4rem;
                    }
                }
                p{
                    margin: 0;
                }

                
            }
        }

        .no-hover{
            .admin-options-content:hover{
                background-color: var(--mineshaft);
                color: var(--vermilion);
                cursor: default;
            }
        }
    }
}

.admin-main{
    background-color: var(--mercury);
    width: calc(100% - 150px);

    .admin-header{
        padding: 0 1rem;
        border-bottom: 1px solid var(--opaBlack);
        min-height: 121px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        

        .admin-header-list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .admin-title{
                font-size: 3rem;
            }

            .admin-info-header{
                padding: .5rem .5rem;
                display: flex;
                justify-content: space-between;
                min-width: 180px;

                i{
                    font-size: 1.4rem;
                }

                .sign-out{
                    cursor: pointer;
                    transition: .2s ease all;
                    padding-bottom: .2rem;
                    border-bottom: 1px solid var(--opaBlack);

                    &:hover{
                        color: var(--vermilion);
                        border-color: var(--vermilion);
                    }
                }
            }
        }
    }

    .admin-main-content{
        padding: 1rem;


        & > div{
            display: none;

            &:first-child{
                display:block;
            }

            .users-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;

                .header-actions{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    min-width: 200px;
               
                    input{
                        padding: .12rem .3rem;
                        margin-right: .5rem;
                    }

                    a{
                        border: 1px solid var(--opaBlack);
                        padding: .2rem .3rem;
                        display: inline-block;
                        transition: .2s all ease;

                        &:hover{
                            background-color: var(--vermilion);
                            color: var(--white);
                            border-color: var(--vermilion);
                        }
                    }

                }

            }



            .results{
                width: 100%;

                tr{
                    border-bottom: 1px solid var(--opaBlack);
                }

                th{
                    text-align: left;
                    padding: .2rem .5rem;
                    background-color: var(--mineshaft);
                    color: var(--white);
                    font-weight: normal;
                }

                td{
                    text-align: left;
                    padding: .2rem .5rem;

                     a{
                        border-bottom: 1px solid var(--opaBlack);
                        transition: .2s all ease;
                        cursor: pointer;

                        &:hover{
                            color: var(--vermilion);
                            border-color: var(--vermilion);
                        }
                    }

                    &:last-child{
                        display:flex;
                        justify-content: space-between;
                    }
                }
                .detalls-row{
                    display: none;
                    td{
                        display: table-cell !important;
                    }
                }

                 /*Resultados busqueda ajax*/
                &.resultados-ajax{
                    color: var(--white);
                    margin-bottom: 1rem;

                    tr:last-child{
                        border-bottom: none;
                    }

                    h4{
                        color: var(--mineshaft);
                    }
                    td{
                        background-color: var(--mountainMeadow);
                    }
                    .bg-error{
                        background-color: var(--vermilion);
                    }
                }
            }
        }
    }

    /***Dashboard***/
    .dashboard{
        //min-height: calc(100vh - 155px);
        min-height: 590px;

        .dashboard-content{
            display: flex;
            min-height: 550px;

            .left-info{
                width: 30%;
                
                .lifetime-sales{
                    padding: 1rem 0;
                    margin-bottom: 2rem;

                    h4{
                        margin-bottom: 1rem;
                        text-transform: uppercase;
                    }
                
                    .lifetime-total-sales{
                        color: var(--vermilion);
                        font-size: 2rem;
                        font-weight: bold;
                    }
                }
                .best-order{
                    h4{
                        margin-bottom: 1rem;
                        text-transform: uppercase;
                    }
                }
            }
            .right-info{
                width: 70%;

                .tab-bg-wrapper{
                    padding: 1rem 0;

                    & > h4{
                        margin-bottom: 1rem;
                        text-transform: uppercase;
                    }
                }

                .tab-menu{
                    display: inline-flex;
                    margin-bottom: 1rem;
                    border-bottom: 1px solid var(--mineshaft);

                    .tab-title{
                        background-color: var(--mineshaft);
                        color: var(--white);
                        padding: .5rem 2rem;
                        margin-right: .5rem;
                        border: 1px solid var(--mineshaft);
                        border-bottom: none;
                        transition: .2s all ease;
                        cursor: pointer;

                        &:last-child{
                            margin-right: 0;
                        }

                        &.active{
                            background-color: var(--mercury) !important;
                            color: var(--mineshaft) !important;
                            border-top: 3px solid var(--vermilion);
                            box-shadow: 0 4px 1px #e1e1e1;
                            cursor: default;
                        }
                    }
                }
                .tab-content-wrapper{
                    .tab-content{
                        border-bottom: 1px solid var(--mineshaft);
                        display: none; 

                        &:first-child{
                            display:block;
                        }
                    }
                }
            }
        }
    }
    /* ===== Detaller trigger ===== */
    .detalle-trigger{
        padding-bottom: .2rem;
        border-bottom: 1px solid var(--abbey);
        transition: .2s all ease;
        cursor: pointer;
        &:hover{
            color: var(--vermilion);
            border-color: var(--vermilion);
        }
    }
}

/* ===== Apartado Detalle del pedido ===== */
.ajax-detalls{
    width: 100%;
    padding: 1rem;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--opaBlack);
    width: 100%;
    height: 100vh;

    .results-ajax{
        display: flex;
        justify-content: flex-start;
       

        .detalle-sale-result{
            border: 1px solid var(--white);
            padding: 1rem;
            margin-bottom: .5rem;
            margin-right: .5rem;
            background-color: var(--abbey);

            h4{
                font-size: 1.5rem;
                text-align: center;
                color: var(--white) !important;
                text-decoration: underline;
            }
            p{
                margin: .5rem 0;
                display: flex;
                justify-content: space-between;

                span:first-child{
                    color: var(--vermilion);
                }
            }
            
            span.detall-img{
                width: 180px;
                display: block;
                img{
                    width: 100%;
                    height: auto;
                    max-width: 100%;
                }
            }
            
        }
    }
}
#closeDetall{
    display: none;
    background-color: var(--vermilion);
    color: var(--white);
    font-size: 1rem;
    padding: .5rem 1rem;
    border: 1px solid var(--white);
}
.modal{
    position: absolute;
    background-color: var(--opaModal);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    .modal-content{
        width: 450px;
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--white);

        h3{
            text-align: left;
            width: 100%;
            margin-bottom: 1rem;
            color: var(--grenadier);
            text-transform: uppercase;
        }

        .modal-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 2rem;
            border-bottom: 1px solid #fff;
            padding-bottom: .5rem;

            h2{
                margin: 0;
            }

            i{
                cursor: pointer;
                font-size: 1.5rem;
                transition: .2s all ease;

                &:hover{
                    transform: rotate(180deg);
                    color: var(--vermilion);
                }
            }
        }   
        .form-modal{
            width: 100%;
            
            .modal-body{
                margin-bottom: 2rem;

                .form-group{
                    margin-bottom: 1rem;
                    label{
                        width: 120px;
                        display: inline-block;
                    }
                    .form-control{
                        width: calc(100% - 125px); 
                        color: var(--black);

                        &[type="file"]{
                            color: var(--white);
                        }
                    }
                }
            }
            .modal-footer{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .btn-cancel{
                    background-color: var(--vermilion);
                    border: none;
                    padding: .2rem .5rem;
                    transition: .2s all ease;
                    &:hover{
                        background-color: var(--white);
                        color: var(--vermilion);
                        outline:1px solid var(--vermilion);
                    }
                }
                .btn-success{
                    background-color: var(--mountainMeadow);
                    border: none;
                    padding: .2rem .5rem;
                    transition: .2s all ease;
                    &:hover{
                        background-color: var(--white);
                        color: var(--mountainMeadow);
                        outline:1px solid var(--mountainMeadow);
                    }    
                }
            }
            
        }

    }
}

/*======================================================================*/
/*=============================== STORE ===============================*/
/*======================================================================*/

/* ====== HEADER ====== */
header{
    position: relative;
    box-shadow: 0px 5px 5px #d6d8d8;
    margin-bottom: .5rem;
    padding-bottom: 1rem;
    &.header{
        background: url("../img/snow-header.png") repeat-x scroll 0 0;
    }
}
.top-bar{
    background-color: var(--abbey);
    border-bottom: 5px solid var(--vermilion);
    line-height: 3;

    .top-bar-list{
        display: flex;
        justify-content: space-between;
    }
}
.header-menu{
    margin-top: 1rem;

    .header-menu-toolbar{  

        .header-list{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-height: 100px;

            .header-list-item{
                display: inline-block;

                .logo-wrapper{
                    h1{
                        font-size: 3rem;
                        font-family: var(--oswald);
                        color: var(--black);
                    }
                }

                .search-wrapper{
                    position: relative;

                    form{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        input{
                            width: 400px;
                            height: 40px;
                            display: inline-block;
                        }
                        .input-search-btn{
                            position: relative;
                            background-color: transparent;
                            color: var(--white);
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.5rem;
                            cursor: pointer;

                            input{
                                z-index: 10;
                                position: relative;
                                border: none;
                                background-color: transparent;
                            }
                            
                            &::before{
                                position: absolute;
                                background-color: var(--black);
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                z-index: 1;
                            }
                        }
                    }
                } 

                .login-wrapper{
                    .login-name{
                        padding-right: 1rem;
                        color: var(--vermilion);
                    }
                    .disconnect{
                        cursor: pointer;
                        transition: .2s ease all;
                        padding-bottom: .2rem;
                        border-bottom: 1px solid rgba(0,0,0,.55);

                        &:hover{
                            color:var(--vermilion);
                            border-color: var(--vermilion);
                        }
                    }
                    .logeate{
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 1.1rem;
                        padding-top: 1rem;
                        display: inline-block;
                    }
                }

                .shopping-cart-wrapper{
                    min-width: 65px;
                    .cart{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        i{
                            font-size: 1.5rem;
                        }
                        .basket-number{
                            width: 40px;
                            height: 40px;
                            display: flex;
                            position: relative;
                            justify-content: center;
                            align-items: center;
                            background: var(--black);
                            color: var(--white);
                            margin-left: 1rem;

                            &::before{
                                content: '';
                                position: absolute;
                                left: -10px;
                                width: 0px;
                                height: 0px;
                                border-top: 10px solid var(--transparent);
                                border-bottom: 10px solid var(--transparent);
                                border-right: 10px solid var(--black);
                            }
                        }
                    }
                }
            }
        }
    }
}

/*===== MAIN MENÚ=====*/
.nav-bar-menu{
    width: 100%;
    margin-top: 2rem;

    .main-menu{
        display: flex;
        justify-content: space-between;

        .main-menu-item{
            display: inline-block;

            &:last-child{
                text-align: right;
            }

            a{
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;

                img{
                    width: 19%;
                }
            }
        }
    }
}



/* ====== SLIDER ====== */
.home-slider{
    margin-bottom: 6rem;
    
}

/*=========== MAIN CONTENT HOME===========*/
.home.main-content{
    margin-bottom: 4rem;
}
/* ===== GRID HOME ====*/
.grid-wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 545px 545px;

    .grid-box.a{
        @mixin grid-home var(--vermilion), var(--white), 295px;
        grid-column: 1/ span 1;
        background: url("../img/slider7.jpg") repeat-x scroll 2% 6%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        
        h3{
            @mixin grid-title var(--opaBlack), var(--white);
        }
        &:hover h3{
            height: 100%;
            background-color: var(--mountainMeadow);
        }
    }
    .grid-box.b{
        @mixin grid-home var(--mountainMeadow), var(--white), 600px;
        grid-column: 2; 
        grid-row: 1 / span 2;
        background: url(../img/deathnote.jpg) no-repeat scroll 0% 0%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        h3{
            @mixin grid-title var(--opaBlack), var(--white);
        }
        &:hover h3{
            height: 100%;
            background-color: var(--mineshaft);
        }
    }
    .grid-box.c{
        @mixin grid-home var(--abbey), var(--white), 295px;
        grid-column: 1/ span 1;
        background: url(../img/bazinga.jpg) no-repeat scroll center center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        h3{
            @mixin grid-title var(--opaBlack), var(--white);
        }
        &:hover h3{
            height: 100%;
            background-color: var(--vermilion);
        }
    }
    .grid-box.d{
        @mixin grid-home var(--vermilion), var(--white), 300px;
        grid-column: 1 / span 2;
        background: url("../img/wakeup.jpg") repeat-x scroll 0 0;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        h3{
            @mixin grid-title var(--opaBlack), var(--white);
        }
        &:hover h3{
            height: 100%;
            background-color: var(--ebonyClark);
        }
    }
}


/* ============ MAIN GRID ============ */
.main-grid{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .left-content{
        width: 200px;    
    }
    .main-content{
        width: calc(100% - 200px);
    }
}


/* ============= CATALOGO ============ */
.main-grid{
    /*aside.left*/
    .left-content{
        h4{
            text-align: center;
            color: var(--mineshaft);
            padding: .5rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin: 0 .5rem;
            border-bottom: 1px solid var(--mercury);
        }
        .cat-categories{
            margin-top: 1rem;
            padding: 0 .5rem;

            .cat-list{
                li{
                    cursor: pointer; 
                    padding: .5rem 0;
                    border-bottom: 1px dashed var(--mercury);
                    display: block;
                    position: relative;
                    font-family: var(--oswald);

                    &:before{
                        font-size: .5rem;
                        position: absolute;
                        right: 4px;
                        top: 13px;
                        font-family: FontAwesome !important;
                    }
                }
            } 
        }
        
    }
    /*section.content*/
    .main-content{
        
        .print-tees{
            display: flex;
            flex-wrap: wrap;

            .tee-wrapper{
                width: 25%;
                height: 400px;
                padding: 0 .5rem;

                .product-single-list{
                    position: relative;
                    li{
                        text-align: center;
                        margin-bottom: .5rem;
                        
                        &.ghost-button{
                            input[type='submit']{
                                background-color: var(--vermilion);
                                border:1px solid var(--vermilion);
                                color: var(--white);
                                transition: .2s all ease;
                                box-shadow: 3px 3px 1px var(--abbey);

                                &:hover{
                                    background-color: var(--white);
                                    border:1px solid var(--vermilion);
                                    color: var(--vermilion);
                                    box-shadow: -1px -1px 3px var(--vermilion);
                                }
                            }
                            
                        }
                    }
                    img{
                        width: 100%;
                        max-width: 100%;
                        height:auto;
                        -moz-transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        overflow: hidden;
                        position: relative;
                        &:hover{
                            box-shadow: 0px 0px 50px var(--mercury);
                            z-index: 2;
                            -webkit-transition: all 200ms ease-in;
                            -webkit-transform: scale(1.05);
                            -ms-transition: all 200ms ease-in;
                            -ms-transform: scale(1.05);   
                            -moz-transition: all 200ms ease-in;
                            -moz-transform: scale(1.05);
                            transition: all 200ms ease-in;
                            transform: scale(1.05);
                        }
                    } 
                }

                /*Single page detall tee*/

                &.single-page{
                    input[type='number']{
                        max-width: 35px;
                    }
                }
            }
        }
    }
}   
 
/* ============= DETALLE CAMISETA ============= */
.single-tee{
    width: 100% !important;

    .show-single{
        justify-content: space-between;

        .tee-wrapper-image{
            
        }
        .tee-wrapper-detalls{
            p{
                margin: 0;
            }
            li{
                margin-bottom: 1rem;
            
                &.single-name{
                    span{
                        font-size: 2rem;
                        font-weight: bold;
                        &:first-child{
                            padding-right:1rem;
                        }
                    }
                }
                &.single-description{
                    font-size: 1.2rem;
                }
                &.single-price{
                    font-size: 3rem;
                }
                &.single-color{
                    margin-top: 2rem;

                    span{
                        &:nth-child(1){
                            @mixin colorRound var(--vermilion);
                        }
                        &:nth-child(2){
                            @mixin colorRound var(--mountainMeadow);
                        }
                        &:nth-child(3){
                            @mixin colorRound var(--mercury);
                        }
                        &:nth-child(4){
                            @mixin colorRound var(--white);
                        }
                        &:nth-child(5){
                            @mixin colorRound var(--black);
                        }
                    }
                    p{
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                }
                &.add-to-form{
                    input[type="number"]{
                        width: 30%;
                        height: 40px;
                        display: block;
                        padding: .5rem;
                        margin: auto;
                    }
                    input[type="submit"]{
                        @mixin btn var(--vermilion),var(--white),var(--oswald),1rem;
                        width: 100%;
                        border:none;
                    }
                }
                &.stock{
                    margin-top: 2rem;
                    p{
                        color: var(--mountainMeadow);
                    }
                }
            }
        }
    }
}

/* ============== CARRITO DE LA COMPRA ==============*/
.main-content.basket-shop{
    width: 100%;
    padding-top: 2rem;
    h2{
        font-weight: normal;
        &::after{
            font-family: FontAwesome;
            content: "\f132";
            color: var(--mountainMeadow);
            padding-left: 1rem;
        }
    }
    .flex-container{
        display: flex;
        justify-content: space-between;
        border: 1px solid var(--concrete);
    }
    .show-basket-content{ 
        width: calc(100% - 320px);

        .buy-shop{
            border: 1px solid var(--abbey);
        }

        /*Articulos*/
        .buy-basket-item{
            
        }
    }

    .show-basket-aside{
        width: 320px;

        .detall-shop{
            height: 100%;
            border: 1px solid var(--abbey);

            form{
                height: 100%;
                width: 100%;
            }
        }
    }
}





/* ============== FOOTER ==============*/
.site-footer{
    background-color: var(--mercury);
    color: var(--abbey);

    .pre-footer-wrapper{
        background-color: var(--abbey);
        color: var(--white);
        border-bottom: 4px solid var(--vermilion);

        & > div{
            display: flex;
            justify-content: space-between;
        }

        .pre-footer-column {
            width: 33.3%;
            text-align: center;
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            .credit-card-list{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 65%;
                align-items: center;
                i{
                    font-size: 2rem;
                }
            }
            .delivery-list{
                width: 100%;
                height: 65%;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    font-size: 2rem;
                    padding-right: 1rem;
                }
            }
            .delivery-cost{
                width: 100%;
                height: 35%;
                display: flex;
                justify-content: center;
                align-items: center;

                i{
                    font-size: 1rem;
                    padding-right: 1rem;
                }
                a{
                    color: var(--mercury);
                    border-bottom: 2px solid var(--mercury);
                    padding-bottom: 2px;
                }
            }
            .satisfaction-slogan{
                display: flex;
                justify-content: space-between;
                align-items: center;

                h3{
                    font-size: 1.5rem;
                }

                i{
                    padding-right: 1rem;
                    font-size: 2rem;
                }
                p{
                    text-align: left;
                }
            }
        }
    }

    .footer-bottom{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem 0;

        & > div{
            //padding-top: 2rem;
        }

        .footer-info{

            h3{
                margin-bottom: 2rem;
                //border-bottom: 2px solid var(--vermilion);
                display: inline-block;
            }

            .news-letter{
                form{
                    display: flex;

                    input[type="text"]{
                        width: 200px;
                        height: 40px;
                        display: inline-block;
                    }
                    .input-newsletter-btn{
                        position: relative;
                        background-color: transparent;
                        color: #fff;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        font-size: 1.5rem;
                        cursor: pointer;

                        &::before{
                            content: "\f002";
                            position: absolute;
                            background-color: #000;
                            width: 100%;
                            height: 100%;
                            display: -webkit-box;
                            display: flex;
                            -webkit-box-pack: center;
                            justify-content: center;
                            -webkit-box-align: center;
                            align-items: center;
                            z-index: 1;
                        }
                    }
                }
            }
        }
        .footer-about{
            h3{
                margin-bottom: 2rem;
                //border-bottom: 2px solid var(--vermilion);
                display: inline-block;
            }
        }
        .footer-menu-social{
            h3{
                margin-bottom: 2rem;
                //border-bottom: 2px solid var(--vermilion);
                display: inline-block;
            }
            nav.social{
                display: flex;

                a{
                    display: inline-block;
                    padding-right: 1rem;

                    i{
                        font-size: 2rem;
                        transition: .2s ease all;
                        &:hover{
                            color:var(--vermilion);
                        }
                    }
                }
            }
        }

        & > div{
            width: 33.3%;
        }
    }
    .copy{
        text-align: center;
        padding: 1rem 0;
        background-color: var(--abbey);
        color: var(--white);
        margin-bottom: 0;
    }
}




 

/********************************************************************/
/***********************  example postcss ***************************/
/********************************************************************/
/* ==================== Imports ==================== */
/* @import './variables.css';
@import './iconfont.css';

@lost flexbox flex; lost con flexbox

==================== Mixins ====================
@define-mixin btn $textColor, $bgColor, $bgColorStart, $bgColorEnd {
    border-radius: 12px;
    border: none;
    color: $textColor;
    padding: 7px 12px;
    cursor: pointer;
    text-decoration: none;
    font-size: var(--fontSize);
    background: $bgColor;
    background: linear-gradient(to left, $bgColorStart, $bgColorEnd);
}

.u-scrollContainer{
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 1rem;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: mandatory;
    font-size: 0;

    &-itemContainer{
        border: 1px solid var(--border-feature);
        border-radius: 12px;
        width: 98%;
        margin: 1%;
        display: inline-block;
        line-height: 18px;
        font-size: 18px;
    }

    &-itemContent{
        display: flex;

        & > img{
            width: auto;
            height: 200px;
        }
    }
}

Grid con lost
.u-grid{
    background-color: #d6d8d8;
    lost-center: 1024px;
    lost-utility: clearfix;

    &-column{
        background-color: #606060;
        lost-column: 1/5;
        margin-bottom: 1rem;

        @media(--tablet) {
            lost-column: 1/3;
        }

        @media(--mobile){
            lost-column: 1/1;
        }
    }
}
.u-wrapper{
    max-width: 1024px;
    margin: auto;
}

.squalHero{
    background: url('../images/background.png') var(--bg-header);
    padding: 20px;
    height: 500px;
    @media (--retina){
        background: url('../images/background2x.png') var(--bg-header);
    }
    &-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #606060;
        transform: .3s all ease;
    }
    &-logo{
        transition: all .3s ease-in;
        &:hover{
            filter: blur(4px);
            cursor: pointer;
        }
    }
    &-copy{
        &-title{
            font-size: calc(var(--fontSize) * 2.5);
        }
        &-btn{
            @mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start), var(--btn-gradient-end);
        }
    }
}

.squalFooter{
    background-color: var(--bg-footer);

    &-form{
        &-btn{
            @mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start), var(--btn-gradient-end);
        } 
    }
} */
/********************************************************************/
/********************************************************************/